<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/SRIDEB/IdeaProjects/MavenDemo/pom.xml">
    <classes>
        <class name="AutomationPractice"/>
        <class name="ClearTrip"/>
        <class name="Online_Shopping"/>
        <class name="ClearTrip_1"/>
        <class name="TheInternet"/>

    </classes>
</test>
</suite>